---

In [1]:
import numpy as np
import pandas as pd
import statistics

In [2]:
'''from google.colab import drive
drive.mount('/content/drive')'''

"from google.colab import drive\ndrive.mount('/content/drive')"

####  
#### 4.1 ได้ทำการสุ่มตัวอย่างผู้ป่วยในแผนกหนึ่งจำนวน 10 คนและวัดส่วนสูง ได้ค่าดัง heights จงหาค่าเฉลี่ยส่วนสูง

In [3]:
heights = [172, 154, 165, 159, 173, 177, 180, 169, 158, 175]

\
ใช้ built-in function sum และ len

In [4]:
sum(heights)/len(heights)

168.2

\
ใช้ numpy.mean()

In [5]:
np.mean(heights)

168.2

\
ใช้ statistics.mean()

In [6]:
statistics.mean(heights)

168.2

---

####  
#### 4.2 ตารางแจกแจงความถี่แสดงเวลาที่รถยนต์ซึ่งถูกสุ่มเป็นตัวอย่างจำนวน 40 คันใช้ในการรอสัญญาณไฟจราจร ก่อนที่จะผ่านสี่แยกหลักสี่ มีข้อมูลดังปรากฏในไฟล์ 'ex3_2_traffic.csv' จงหาเวลาเฉลี่ยที่รถยนต์ 40 คันใช้ในการรอสัญญาณไฟจราจร

In [7]:
df_traffic = pd.read_csv('ex4_2_traffic.csv')
df_traffic

  เวลาที่รอ (นาที)  ความถี่ (f)
0            11-15            5
1            16-20            4
2            21-25           10
3            26-30            8
4            31-35            6
5            36-40            7

\
ก่อนอื่นต้องหาค่ากึ่งกลาง ของแต่ละช่วงเวลาที่รอ เพื่อให้สะดวกในการแสดงผลเราจะแสดงค่ากึ่งกลางเป็นคอลัมน์ใหม่

แต่คอลัมน์ช่วงเวลายังเป็น String ของช่วงเวลา เราต้องทำการแยก ขอบเขตบนและขอบเขตล่าง และแปลงค่าให้เป็น int/double

In [8]:
boundary = df_traffic['เวลาที่รอ (นาที)'].str.split('-', expand=True).astype(int)
boundary

    0   1
0  11  15
1  16  20
2  21  25
3  26  30
4  31  35
5  36  40

In [9]:
df_traffic['ค่ากึ่งกลาง (x)'] = (boundary[0]+boundary[1])/2
df_traffic

  เวลาที่รอ (นาที)  ความถี่ (f)  ค่ากึ่งกลาง (x)
0            11-15            5             13.0
1            16-20            4             18.0
2            21-25           10             23.0
3            26-30            8             28.0
4            31-35            6             33.0
5            36-40            7             38.0

\
คำนวณค่ากึ่งกลางคูณด้วยความถี่ (fx)

In [10]:
df_traffic['fx'] = df_traffic['ความถี่ (f)']*df_traffic['ค่ากึ่งกลาง (x)']
df_traffic

  เวลาที่รอ (นาที)  ความถี่ (f)  ค่ากึ่งกลาง (x)     fx
0            11-15            5             13.0   65.0
1            16-20            4             18.0   72.0
2            21-25           10             23.0  230.0
3            26-30            8             28.0  224.0
4            31-35            6             33.0  198.0
5            36-40            7             38.0  266.0

\
คำนวณเวลาเฉลี่ยที่รถยนต์ 40 คันใช้ในการรอสัญญาณไฟจราจร

In [76]:
print(df_traffic['fx'].sum() / 40)
print(statistics.mean(df_traffic['ค่ากึ่งกลาง (x)']))

26.375
25.5

---

####  
#### 4.3 ในการสอบวิชาการเขียนโปรแกรมครั้งหนึ่งมีนักศึกษาเข้าสอบ 3 กลุ่ม โดยที่ <br>กลุ่ม 1 มีนิสิตเข้าสอบ 50 คน มีคะแนนเฉลี่ย 58 คะแนน<br>กลุ่ม 2 มีนิสิตเข้าสอบ 40 คน มีคะแนนเฉลี่ย 70 คะแนน<br>กลุ่ม 3 มีนิสิตเข้าสอบ 60 คน มีคะแนนเฉลี่ย 52 คะแนน<br>จงหาค่าเฉลี่ยรวมของคะแนนสอบของนิสิตที่เรียนวิชาการเขียนโปรแกรม

In [12]:
df_prog = pd.read_csv("ex4_3_programming.csv")
df_prog

   section  num_student  avg_score
0        1           50         58
1        2           40         70
2        3           60         52

หาค่าเฉลี่ยรวมของคะแนนสอบของนิสิตที่เรียนวิชาการเขียนโปรแกรม

In [13]:
sum(df_prog.num_student*df_prog.avg_score)/df_prog.num_student.sum()

58.8

---

####  
#### 4.4 ทำการสำรวจรายได้ของผู้ที่มาใช้บริการธนาคารแห่งหนึ่งจำนวน 11 คน ได้ข้อมูลดังนี้

In [14]:
income = [25000, 32000, 45000, 22000, 18000, 34000, 27000, 90000, 97000, 38000, 75000]

In [15]:
len(income)

11

\
ลองเรียงลำดับข้อมูล

In [16]:
sorted(income)

[18000, 22000, 25000, 27000, 32000, 34000, 38000, 45000, 75000, 90000, 97000]

\
หาค่า median

ใช้การคำนวนตามสูตร:

In [17]:
sorted(income)[(int)((len(income)+1)/2)-1]

34000

ใช้ statistics.median:

In [18]:
statistics.median(income)

34000

ใช้ np.median:

In [19]:
np.median(income)

34000.0

\
หาค่า mean:

In [20]:
np.mean(income)

45727.27272727273

---

####  
#### 4.5 สุ่มนิสิตมา 10 คน พบว่ามี GPA ดังนี้  3.5, 2.4, 3.3, 2.7, 3.6, 3.9, 3.0, 2.8, 3.1, 2.9<br>มัธยฐาน GPA ของตัวอย่างมีค่าเท่าใด?

In [21]:
gpa = [3.5, 2.4, 3.3, 2.7, 3.6, 3.9, 3.0, 2.8, 3.1, 2.9]

\
ขนาดเป็นเลขคู่

In [22]:
len(gpa)

10

In [23]:
np.median(gpa)

3.05

---

#### 4.6 ตาราง "ex3_6_visitor.csv" แสดงระยะเวลา (หน่วย: วัน) ที่นักท่องเที่ยวชาวต่างประเทศที่ถูกสุ่มเป็นตัวอย่างจำนวน 36 คน ใช้เวลาท่องเที่ยวในประเทศไทยในช่วง 1 ปี มีดังตาราง จงหามัธยฐานของระยะเวลาที่นักท่องเที่ยวชาวต่างประเทศใช้ท่องเที่ยวในประเทศไทย

In [24]:
df_visit = pd.read_csv("ex4_6_visitor.csv")
df_visit

  duration  num_visitor
0      1-7            4
1     8-14            6
2    15-21            5
3    22-28           10
4    29-35            6
5    36-42            4
6    43-49            1

\
แปลง duration ให้เป็น 2 columns เพื่อให้สามารถนำตัวเลขไปใช้คำนวณได้:

In [25]:
df_visit[['du_from', 'du_to']] = df_visit.duration.str.split('-', expand=True)
df_visit = df_visit.astype({'du_from': int, 'du_to': int})
df_visit

  duration  num_visitor  du_from  du_to
0      1-7            4        1      7
1     8-14            6        8     14
2    15-21            5       15     21
3    22-28           10       22     28
4    29-35            6       29     35
5    36-42            4       36     42
6    43-49            1       43     49

\
สร้าง column ความถี่สะสมของจำนวนนักท่องเที่ยว:

In [26]:
df_visit['num_visitor_cum'] = df_visit.num_visitor.cumsum()
df_visit

  duration  num_visitor  du_from  du_to  num_visitor_cum
0      1-7            4        1      7                4
1     8-14            6        8     14               10
2    15-21            5       15     21               15
3    22-28           10       22     28               25
4    29-35            6       29     35               31
5    36-42            4       36     42               35
6    43-49            1       43     49               36

\
หาตำแหน่งของ median:

In [27]:
med_pos = df_visit.num_visitor.sum()/2
med_pos

18.0

In [28]:
for i in df_visit.index:
    if df_visit.num_visitor_cum[i] >= med_pos:
        e=i
        break
e

3

\
ซึ่งจะอยู่ในชั้นที่ 4 (index 3) มีระยะเวลา 22-28  
หาขอบเขตล่าง:

In [29]:
lower = (df_visit.du_from[e]+df_visit.du_to[e-1])/2
lower

21.5

\
หาค่า median

In [30]:
lower+( (med_pos - df_visit.num_visitor_cum[e-1]) / df_visit.num_visitor[e])*7

23.6

---

####  
#### 4.7 หาฐานนิยมของข้อมูลแต่ละชุดต่อไปนี้
&emsp;**1) 9, 2, 3, 5, 7, 2, 1, 5, 2**

In [31]:
data = [9, 2, 3, 5, 7, 2, 1, 5, 2]
statistics.mode(data)

2

&emsp;**2) 3, 5, 5, 8, 7, 3, 2**

In [32]:
data = [3, 5, 5, 8, 7, 3, 2]
statistics.mode(data)

3

ผลที่แสดงขาด 5 ไป ต้องใช้ multimode

In [33]:
statistics.multimode(data)

[3, 5]

&emsp;**3) 1, 2, 3, 4, 5**

In [34]:
data = [1, 2, 3, 4, 5]
statistics.multimode(data)

[1, 2, 3, 4, 5]

In [35]:
statistics.mode(data)

1

การใช้ทั้ง mode() และ multimode() จึงต้องระวัง วิธีการหนึ่งคือตรวจสอบว่าจำนวนของข้อมูลเริ่มต้นและข้อมูลที่ตัดข้อมูลซ้ำออกไปแล้วเท่ากันหรือไม่ หากเท่ากันแสดงว่าข้อมูลนั้นไม่มี mode

In [36]:
len(data) == len(np.unique(data))

True

&emsp;**4) ข้อมูลได้จากการสำรวจความชอบอาหารชนิดหนึ่ง (ชอบ เฉยๆ ไม่ชอบ):**  
&emsp;**ชอบ ไม่ชอบ ชอบ ชอบ ไม่ชอบ เฉยๆ ชอบ**

In [37]:
data = ['ชอบ', 'ไม่ชอบ', 'ชอบ', 'ชอบ', 'ไม่ชอบ', 'เฉยๆ', 'ชอบ']
statistics.mode(data)

'ชอบ'

---

####  
#### 4.8 ตาราง "ex3_6_visitor.csv" แสดงระยะเวลา (หน่วย: วัน) ที่นักท่องเที่ยวชาวต่างประเทศที่ถูกสุ่มเป็นตัวอย่างจำนวน 36 คน ใช้เวลาท่องเที่ยวในประเทศไทยในช่วง 1 ปี มีดังตาราง จงหาฐานนิยมของระยะเวลาที่นักท่องเที่ยวชาวต่างประเทศใช้ท่องเที่ยวในประเทศไทย

In [38]:
df_visit = pd.read_csv("ex4_6_visitor.csv")
df_visit

  duration  num_visitor
0      1-7            4
1     8-14            6
2    15-21            5
3    22-28           10
4    29-35            6
5    36-42            4
6    43-49            1

\
แปลง duration ให้เป็น 2 columns เพื่อให้สามารถนำตัวเลขไปใช้คำนวณได้

In [39]:
df_visit[['du_from', 'du_to']] = df_visit.duration.str.split('-', expand=True)
df_visit = df_visit.astype({'du_from': int, 'du_to': int})
df_visit

  duration  num_visitor  du_from  du_to
0      1-7            4        1      7
1     8-14            6        8     14
2    15-21            5       15     21
3    22-28           10       22     28
4    29-35            6       29     35
5    36-42            4       36     42
6    43-49            1       43     49

\
หาชั้นที่ mode อยู่

In [40]:
e = np.argmax(df_visit.num_visitor)
e

3

\
ซึ่งจะอยู่ในชั้นที่ 4 (index 3) มีระยะเวลา 22-28  
หาขอบเขตล่าง

In [41]:
lower = (df_visit.du_from[e]+df_visit.du_to[e-1])/2
lower

21.5

\
หาค่า mode

In [42]:
lower + ( df_visit.num_visitor[e-1]/(df_visit.num_visitor[e-1]+df_visit.num_visitor[e+1]) )*7

24.68181818181818

---

#### 4.9 สุ่มตัวอย่างนิสิตจำนวน 10 คน และสอบถามถึงจำนวนครั้งในการไปใช้บริการร้านสะดวกซื้อในหนึ่งสัปดาห์ ได้ข้อมูลมาดังนี้ 10, 5, 3, 9, 17, 15, 9, 2, 7, 8   จงคำนวณค่า Q<sub>1</sub> และ D<sub>7</sub>

In [43]:
conv = [10, 5, 3, 9, 17, 15, 9, 2, 7, 8]

In [44]:
conv.sort()
conv

[2, 3, 5, 7, 8, 9, 9, 10, 15, 17]

In [45]:
#หากรันใน colab คำสั่งต่อไปนี้จะยังทำงานไม่ได้ เนื่องจากใน colab ยังเป็น numpy version เก่า
#numpy version > 1.22 ได้มีการปรับปรุงฟังก์ชันนี้
#https://numpy.org/doc/stable/reference/generated/numpy.percentile.html
np.percentile(conv,25, method='weibull')

4.5

In [46]:
#ตรวจสอบ numpy version ใน colab
print(np.__version__)

1.23.5

In [47]:
np.percentile(conv,70, method='weibull')

9.7

---

#### 4.10 จงคำนวณค่าของ Q<sub>3</sub>, D<sub>3</sub> และ P<sub>60</sub> จากตารางแสดงระยะเวลาที่ครบกำหนดของการลงทุนระยะสั้นที่บริษัทต่างๆ จำนวน 40 บริษัทกำหนดไว้ดังตาราง 'ex3_10_investment.csv'

In [48]:
df_invest = pd.read_csv("ex4_10_investment.csv")
df_invest

  duration  num_company
0    30-39            3
1    40-49            1
2    50-59            8
3    60-69           10
4    70-79            7
5    80-89            7
6    90-99            4

\
สร้าง column ความถี่สะสมของจำนวนบริษัท

In [49]:
df_invest['num_company_cum'] = df_invest.num_company.cumsum()
df_invest

  duration  num_company  num_company_cum
0    30-39            3                3
1    40-49            1                4
2    50-59            8               12
3    60-69           10               22
4    70-79            7               29
5    80-89            7               36
6    90-99            4               40

\
แปลง duration ให้เป็น 2 columns เพื่อให้สามารถนำตัวเลขไปใช้คำนวณได้

In [50]:
df_invest[['du_from', 'du_to']] = df_invest.duration.str.split('-', expand=True)
df_invest = df_invest.astype({'du_from': int, 'du_to': int})
df_invest

  duration  num_company  num_company_cum  du_from  du_to
0    30-39            3                3       30     39
1    40-49            1                4       40     49
2    50-59            8               12       50     59
3    60-69           10               22       60     69
4    70-79            7               29       70     79
5    80-89            7               36       80     89
6    90-99            4               40       90     99

&emsp;**1) Q<sub>3</sub>**

หาชั้นที่ Q<sub>3</sub> อยู่

In [51]:
n = 40

In [52]:
q3_pos = n*3/4
q3_pos

30.0

ดังนั้นอยู่ชั้นที่ 6 (index 5) e=5  
หาค่าขอบเขตล่าง L

In [53]:
e = 5
lower = (df_invest.du_to[e-1]+df_invest.du_from[e]) / 2
lower

79.5

หาค่า Q<sub>3</sub>

In [54]:
lower+( (q3_pos-df_invest.num_company_cum[e-1])/df_invest.num_company[e] )*10

80.92857142857143

&emsp;**2) D<sub>3</sub>**

In [55]:
D3_pos = n*3/10
D3_pos

12.0

ดังนั้นอยู่ชั้นที่ 3 (index 2) e=2  
หาค่าขอบเขตล่าง L

In [56]:
e = 2
lower = (df_invest.du_to[e-1]+df_invest.du_from[e]) / 2
lower

49.5

หาค่า D<sub>3</sub>

In [57]:
lower+( (D3_pos-df_invest.num_company_cum[e-1])/df_invest.num_company[e] )*10

59.5

&emsp;**3) P<sub>60</sub>**

In [58]:
P60_pos = n*60/100
P60_pos

24.0

ดังนั้นอยู่ชั้นที่ 5 (index 2) e=4  
หาค่าขอบเขตล่าง L

In [59]:
e = 4
lower = (df_invest.du_to[e-1]+df_invest.du_from[e]) / 2
lower

69.5

หาค่า P<sub>60</sub>

In [60]:
lower+( (P60_pos-df_invest.num_company_cum[e-1])/df_invest.num_company[e] )*10

72.35714285714286

---

#### 4.11 ทำการสุ่มเลือกนิสิต 7 คน ซึ่งเรียนในหลักสูตรของภาควิชาวิทยาการคอมพิวเตอร์แล้วทำการสอบถามค่าใช้จ่ายที่ใช้ในแต่ละวันได้ผลดังนี้ 300, 250, 150, 120, 240, 180, 250 จงคำนวณค่าพิสัย

In [61]:
expense = [300, 250, 150, 120, 240, 180, 250]

หาพิสัย

In [62]:
max(expense) - min(expense)

180

---

#### 4.12 สุ่มตัวอย่างนิสิตจำนวน 10 คน และสอบถามถึงจำนวนครั้งในการไปใช้บริการร้านสะดวกซื้อในหนึ่งสัปดาห์ ได้ข้อมูลมาดังนี้ 10, 5, 3, 9, 17, 15, 9, 2, 7, 8   จงคำนวณค่า Q1 และ D7ทำการสุ่มเลือกนิสิต 7 คน ซึ่งเรียนในหลักสูตรของภาควิชาวิทยาการคอมพิวเตอร์แล้วทำการสอบถามค่าใช้จ่ายที่ใช้ในแต่ละวันได้ผลดังนี้ 300, 250, 150, 120, 240, 180, 250 จงคำนวณค่าส่วนเบี่ยงเบนมาตรฐานและความแปรปรวน

In [63]:
cost = [300, 250, 150, 120, 240, 180, 250]

\
หาค่าส่วนเบี่ยงเบนมาตรฐาน

In [64]:
np.std(cost, ddof=1)

64.21689437998013

***Note:***  
การใช้ ddof = 1 จะหมายถึงตามสูตรหารด้วย n-1 (degree of freedom ของตัวอย่าง)  
หากไม่กำหนดค่า default คือ 0 จะหมายถึงตามสูตรหารด้วย n (degree of freedom ของประชากร)

\
หาค่าความแปรปรวน

In [65]:
np.var(cost, ddof=1)

4123.809523809524

In [66]:
np.std(cost, ddof=1)**2

4123.809523809524

---

#### 4.13 ทำการสุ่มเลือกนิสิต 20 คน ซึ่งเรียนในหลักสูตรของภาควิชาวิทยาการคอมพิวเตอร์แล้วทำการสอบถามค่าใช้จ่ายที่ใช้ในแต่ละวันได้ผลดังตาราง 'ex3_13_expense.csv'  จงคำนวณส่วนเบี่ยงเบนมาตรฐานของค่าใช้จ่ายต่อวัน

In [67]:
df_expense = pd.read_csv("ex4_13_expense.csv")
df_expense

   expense  num_student
0    50-99            2
1  100-149            3
2  150-199            7
3  200-249            5
4  250-300            3

\
แปลง expense ให้เป็น 2 columns เพื่อให้สามารถนำตัวเลขไปใช้คำนวณได้

In [68]:
df_expense[['exp_from', 'exp_to']] = df_expense.expense.str.split('-', expand=True)
df_expense = df_expense.astype({'exp_from': int, 'exp_to': int})
df_expense

   expense  num_student  exp_from  exp_to
0    50-99            2        50      99
1  100-149            3       100     149
2  150-199            7       150     199
3  200-249            5       200     249
4  250-300            3       250     300

\
หาค่าเฉลี่ย

In [69]:
x_bar = sum((df_expense.exp_from+df_expense.exp_to)/2  * df_expense.num_student) / df_expense.num_student.sum()
x_bar

184.575

\
หาค่าส่วนเบี่ยงเบนมาตรฐาน

In [70]:
n =  df_expense.num_student.sum()
n

20

In [71]:
sigma_fx2 = sum( ((df_expense.exp_from+df_expense.exp_to)/2)**2  * df_expense.num_student)
np.sqrt((sigma_fx2 - n*x_bar**2) / (n-1))

59.94323520939148

---

#### 4.14 โรงงานผลิตยาแห่งหนึ่งมีเครื่องจักรที่ใช้ผลิตยา 2 เครื่อง โดยกำหนดให้เครื่องที่ 1 ผลิตยาขนาด 250 มิลลิกรัม ปรากฏว่ายาที่ผลิตได้มีน้ำหนักเฉลี่ย 252 มิลลิกรัมค่าเบี่ยงเบนมาตรฐาน 2.4 มิลลิกรัม ส่วนเครื่องที่ 2 กำหนดให้ผลิตยาขนาด 500 มิลลิกรัม ปรากฏว่ายาที่ผลิตได้มีน้ำหนักเฉลี่ย 496 มิลลิกรัม ค่าเบี่ยงเบนมาตรฐาน 3.6 มิลลิกรัม จงเปรียบเทียบว่าเครื่องจักรใดผลิตยาได้ถูกต้องมากกว่า เพราะเหตุใด

เครื่องจักรที่ 1:

In [72]:
cv1 = 2.4*100/252
cv1

0.9523809523809523

\
เครื่องจักรที่ 2:

In [73]:
cv2 = 3.6*100/496
cv2

0.7258064516129032